<div id="fp-hero" style="background-color: #ddf" class="px-4 py-5 text-center ">
  <span class="text-center ">
    <h1 class="display-5 fw-bold text-body-emphasis">Sign In</h1>
    <%= link_to "With LinkedIn", "https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=#{ENV["OAUTH_CLIENT_ID"]}&redirect_uri=#{Rack::Utils.escape(ENV["OAUTH_CALLBACK_URI"])}&scope=profile%20email%20openid" %>
    <hr>
    <img src="https://cl-helper-development.s3.amazonaws.com/sign-in-small.jpg">
  </span>

  <span >
    <div class="form-container px-4 py-5 bg-light bg-gradient rounded-4" >
    <form method="POST" action=<%= session_url %> class="d-flex flex-column align-items-start">
        <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
      <div class="mb-3 d-flex flex-column align-items-start">
        <label for="inputEmail" class="form-label">Email address</label>
        <input name="session[credential]" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
      </div>
      <div class="mb-3 w-100 d-flex flex-column align-items-start">
        <label for="inputPassword" class="form-label">Password</label>
        <input name="session[password]" type="password" class="form-control" id="inputPassword">
      </div>
      <button type="submit" class="btn btn-primary align-self-end">Submit</button>
    </form>
    </div>
  </span>

</div>

<%= link_to "Back", _back_url %>