<main>
  <h2>Hi, <%= @user.first_name %>. You've chosen to reset your password for ExpressWrite.</h2>
  <p>
    Follow <%= link_to "this link", user_confirmation_url(@user.reset_password_token) %> to reset your password. <br>
    Alternatively you can paste this link into your browser: <br>
    <%= user_confirmation_url(@user.reset_password_token) %>
  </p>

  <p>
    If you did not request this reset, please <%= link_to "Report a Bug", bug_report_url %>
  </p>
</main>
