<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to WriteWise, <%= @user.first_name %>!</h1>
    <p>
      You have successfully signed up for WriteWise.<br>
      You can use this email address to login with your password.<br>
      You can reset your password on the site if necessary. A confirmation will be sent to this email.
    </p>
    <p>
      Head over to WriteWise: <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>