.text-caution{
    color: rgb(211, 140, 0);
    padding: 10px 5px;
}

#resume-preview-container{
    border-radius: 2px;
    border: 1px solid #bbd;
    overflow-y: scroll;
    h4, h6 {
        margin-bottom: 1px;
    }
    p{
        padding: 1px 0;
        margin: 0;
        font-size: 0.75rem;
    }
}

.bullet-point {
    display: flex;
    transition: border-color ease 0.7s;
    border: 1px solid transparent;
    &::before{
        content: "•";
        margin-right: 8px;
    }
    
    div{
      word-wrap: break-word;
      width: 90%;
    }
}

#resume-preview-personal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-preview-work-item{
    p{
        font-size: smaller;
    }
}

.resume-preview-work-item:not(:last-child){
    border-bottom: 1px solid #bbd;
    padding-bottom: 0.75rem;
}