.focused {
  background-color: #ccf;
}

#resume-builder-container{
    height: 100%;
    max-height: 100vh;
}

.bullet-point{
  word-wrap: break-word;
  width: 100%;
  div{
    word-wrap: break-word;
    display: inline-block;
    width: 90%;
  }
}

.hideable:has(input[type=date]:disabled){
  visibility: hidden;
}

.resume-builder-sub-section{
  vertical-align: middle;
  user-select: none;
  padding: 1em 12px;
  // max-height: min-content;
  height: min-content;
  transition: height 0.7s ease-in-out, background-color 0.3s linear;
  overflow-y: hidden;
  border: 1px solid #bbd;
  &.closed:hover{
    background-color: #ccf;
  }
  
  h4{
    font-size: 2em;
    padding: 0;
    cursor: pointer;
  }
  .content{
    transform: scaleY(1);
    transition: all 0.18s ease;
    transform-origin: top;
  }

  &.closed .content{
    transform: scaleY(0);
  }

  &:first-of-type{
    border-radius: 8px 8px 0 0;
  }

  &:last-child{
    border-radius: 0 0 8px 8px;
  }

}

.closed{
    height: 4em;
}
.resume-builder-section{
  padding: 10px;
  max-height: 82dvh;
}

.accordion{
  overflow-y: auto;
}

.flex-header{
  flex-basis: 100%;
  padding-top: 5px 0;
  max-height: min-content;
}

body:has(#resume-builder-main){
  display: flex;
  flex-direction: column;
  justify-content: start;
}

main{
  flex-basis: 100%;
  padding-bottom: 0 !important;
}

#resume-image{
  width: 100%;
}

.resume-form:not(:last-child){
  border-bottom: 1px solid #aac;
  padding-bottom: 0.75rem;
}