@import './styles/hamburger.scss';
@import './styles/header.scss';
@import './styles/sidebar.scss';
@import './styles/NoticeBalloon.scss';
@import './styles/ListingsIndex.scss';
@import './styles/ActiveContainer.scss';


#main.splash{
  background-color: rgb(70, 70, 180);
  padding-bottom: 50px;
}

#splash{
  position: relative;
  #auth{
    position: absolute;
    top: 10px;
    right: 12px;
    color: white;  
  }
}

#resume-input, #listing-input {
  border-radius: 10px;
  background-color: #ddf;
  padding: 10px;
}

#express-form{
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px solid #ccf;
  background-color: white;
}

#main{
  height: 100dvh;
}

#loading-gif {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.express-instruction{
  list-style-position: inside;
  margin-bottom: 3px;
}
.account-instruction{
  list-style-type: "📎";
}

#letter-gif{
  clip-path:view-box;
}

#resume-instruction{
  list-style-type: "📜";
}
#listing-instruction{
  list-style-type: "📰";
}
#letter-instruction{
  list-style-type: "🔄";
}
#edit-instruction{
  list-style-type: "✍️";
}

#splash-logo{
  color: whitesmoke;
  font-family: 'Allura', cursive;
  font-size: 20vh;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  span{
    display: flex;
  }
}

.logo{
  user-select: none;
  font-family: 'Allura', cursive;
  font-size: 2em;
  text-decoration: none;
  color: white;
}

.char-counter{
  top: 100%;
}

#logo-img{
  box-sizing: border-box;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgb(255, 255, 255);
  opacity: 0.85;
  margin-right: 1vw;
  transform: rotate(70deg);
}

#logo-img.splash{
  box-shadow: none;
  margin: -1%;
  height: 25vh;
}

.btn {
height: min-content;
}

.form-control{
background-color: #0000FF0D;
transition: background-color 0.3s;
}
.form-control ~ label::after {
background-color: transparent !important;
}
.form-control:focus{
background-color: transparent;
}

#fp-hero{
  display: flex;
  justify-content: center;
  gap: 10vw;
}

#fp-hero img{
  border-radius: 10px;
  width: 90%;
  max-height: 350px;
}

main{
  position: relative;
  width: 95%;
  padding-bottom: 100px;
  margin: 0 auto;
}
#bug-report{
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: fit-content;
  background-color: white;
  font-size: smaller;
  padding: 2px;
}

summary h3{
  cursor: pointer;
  user-select: none;
}


#user-info-container{
  position:relative;
}

#generate-listing-form{
display: flex;
flex-direction: column;
}

#generate-bio-container, #generate-listing-container{
  border-top: 1px solid rgb(196, 196, 196);
}

@media screen and (min-width: 992px){
  #generate-bio-container, #generate-listing-container{
    position: absolute;
    right: 0;
    top: 0;
    font-size: small;
    border-width: 0;
  }
}

.nav{
  background-color: white;
  padding: 5px 10px;
}

#nav-buttons{
  width: 30%;
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
}

#strength-container{
  font-size: smaller;
  color: #aaa;
  margin-top: 5px;
}

#user-info-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.hidden {
  display: none;
}

#pw-info-icon{
  cursor: help;
  color: #5555ff;
}

#pw-info{
  width: max-content;
  background-color: #b3b3ff;
  border: 1px solid black;
  color: #060607;
  padding: 10px 20px;
  right: 0;
  font-weight: lighter;
  font-family: arial, sans-serif;
  border-radius: 10px;
  line-height: 2rem;
  list-style-position: inside;
  text-align: start;
}
#pw-info-icon:hover #pw-info{
  display: block;
}

#change-button{
    position: relative;
}
#profile-select{
display: none;
position: absolute;
padding: 5px 10px;
top: 150%;
left: 0%
}

#profile-select option{
padding: 5px 10px;
}

#change-button:focus-within #profile-select{
display: block;
}

#member-express-form{
  background-color: #5656c4;
  padding: 10px;
  border-radius: 8px;
  color: white;
  #listing-input {
    color: black;
  }
}

#copy-message{
  position: absolute;
  top: 101%;
  left: 0;
  border-radius: 0 0 8px 8px;
  z-index: 2;
  display: none;
  font-size: 75%;
}