<main class="p-3">
    Please report bugs and/or feedback to ClarenceSmith90@gmail.com<br>
    <strong><a href="https://www.linkedin.com/in/clarence-smith-nyc/">LinkedIn<a></strong><br><hr>
    <%= link_to "Back", _back_url, class: "btn btn-secondary" %>
</main>