<head>    
    <%= javascript_importmap_tags 'loadingBar' %>
</head>
<body class="main" >
    <form onSubmit=ajaxSubmit(event)>
        <input type="text" placeholder="test input" />
        <input type="submit" value="Submit">
    </form>
</body>