<div class="border border-2 border-success text-center fs-5 fw-bold">This is a Rails View!</div>
<div id=resume-builder-container class="d-flex mx-auto flex-wrap justify-content-center w-75 border border-3 border-danger">
</div>
